<nav id="bt-menu" class="bt-menu">
  <a class="bt-menu-trigger"><span>Menu</span></a>
  <ul>
    <li><a href="#events" datascroll="">Events</a></li>
    <li><a href="#games" datascroll="">Games</a></li>
    <li><a href="#sponsors" datascroll="">Sponsors</a></li>
    <li><a href="#officers" datascroll="">Officers</a></li>
    <li><a href="#contact" datascroll="">Contact</a></li>
  </ul>
  <ul>
    <li><a href="http://www.twitter.com/UnionTTC" class="fa fa-twitter ttc-footer-icon">Twitter</a></li>
    <li><a href="http://plus.google.com/u/0/b/107128998391136934091/107128998391136934091/about" class="fa fa-google-plus ttc-footer-icon">Google+</a></li>
    <li><a href="http://www.facebook.com/UnionTTC" class="fa fa-facebook ttc-footer-icon">Facebook</a></li>
    <li><a href="https://github.com/UnionTTC" class="fa fa-github-alt ttc-footer-icon">icon-github</a></li>
  </ul>
</nav>

<script src="js/classie.js"></script>
<script src="js/borderMenu.js"></script>
