<div id="top" class="header ttc-header">
    <h1>{{title}}</h1>
    <h2>Union College, Lincoln Nebraska</h2>
<!--
    <div class="icon-div pure-u-sm-1 pure-u-md-1-3 ttc-icons ttc-code">
        <i class="fa fa-code fa-10x"></i>
        <h2>programmers</h2>
    </div>
    <div class="icon-div pure-u-sm-1 pure-u-md-1-3 ttc-icons ttc-users">
        <i class="fa fa-users fa-10x"></i>
        <h2>community</h2>
    </div>
    <div class="icon-div pure-u-sm-1 pure-u-md-1-3 ttc-icons ttc-trophy">
        <i class="fa fa-trophy fa-10x"></i>
        <h2>gamers</h2>
    </div>
-->
</div>

<div class="ttc-header">
    <div class="content ttc-center">
        <div class="icon-div pure-u-sm-1 pure-u-md-1-4 ttc-icons ttc-contact-icons">
            <a href="//www.twitter.com/UnionTTC" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a>
        </div>
        <div class="icon-div pure-u-sm-1 pure-u-md-1-4 ttc-icons ttc-contact-icons">
            <a href="//www.facebook.com/UnionTTC" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
        </div>
        <div class="icon-div pure-u-sm-1 pure-u-md-1-4 ttc-icons ttc-contact-icons">
            <a href="//plus.google.com/u/0/b/107128998391136934091/" target="_blank"><i class="fa fa-google-plus-square fa-5x"></i></a>
        </div>
        <div class="icon-div pure-u-sm-1 pure-u-md-1-4 ttc-icons ttc-contact-icons">
            <a href="//www.github.com/UnionTTC" target="_blank"><i class="fa fa-github-square fa-5x"></i></a>
        </div>
    </div>
</div>

<div class="ttc-events">
    <div class="content">
        <h1 id="events" class="content-subhead">Events</h1>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
            <h2 class="content-subhead">Event One</h1>
            <ul>
                <li>Event Details</li>
                <li>Event Details</li>
                <li>Event Details</li>
            </ul>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
            <h2 class="content-subhead">Event One</h1>
            <ul>
                <li>Event Details</li>
                <li>Event Details</li>
                <li>Event Details</li>
            </ul>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
            <h2 class="content-subhead">Event One</h1>
            <ul>
                <li>Event Details</li>
                <li>Event Details</li>
                <li>Event Details</li>
            </ul>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
            <h2 class="content-subhead">Event One</h1>
            <ul>
                <li>Event Details</li>
                <li>Event Details</li>
                <li>Event Details</li>
            </ul>
        </div>
    </div>
    </div>
</div>
<!--
<div class="ttc-events">
    <div class="content">
        <h1 id="events" class="content-subhead">Events</h1>
        <ul class="fa-ul ttc-event-font">
            <li><i class="fa-li fa fa-calendar"></i>Event One</li>
            <li><i class="fa-li fa fa-calendar"></i>Event Two</li>
            <li><i class="fa-li fa fa-calendar"></i>Event Three</li>
            <li><i class="fa-li fa fa-calendar"></i>Event Four</li>
        </ul>
    </div>
</div>
-->

<div class="ttc-sponsors">
    <div class="content">
        <h1 id="sponsors" class="content-subhead">Sponsors</h1>
    </div>
</div>

<div class="ttc-contact">
    <div class="content">
        <h1 id="contact" class="content-subhead">Contact Us</h1>
        <p class="ttc-contact-font">Got an idea to improve our community? Drop us a line below.</p>
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label class="ttc-contact-font" for="email">E-mail Address: </label>
                    <input name="email" class="pure-input " placeholder="e-mail" required="" type="text">
                </div>
                <div class="pure-control-group">
                    <label class="ttc-contact-font" for="message">Message: </label>
                    <textarea name="message" type="textbox" class="pure-input pure-input-2-3" style="width: 77%;" placeholder="Tell us what you think. Should we be more awesome? Think we are trying too hard?" required=""></textarea>
                </div>
                <button type="submit" class="pure-button submit" disabled="">Hit Us Up</button>
            </fieldset>
        </form>
    </div>
</div>
