<div id="events" class="ttc-section-wrap">
  <h1 class="ttc-h1">Events</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at velit vel tellus ornare lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae lacus vitae urna dignissim consectetur. Nullam et dolor erat. Mauris ornare ex vitae tempor congue. Pellentesque dictum condimentum dictum. Ut ut luctus sapien. Sed eu imperdiet nisi. Fusce viverra porta felis, id elementum libero tempor eu. Nam porttitor, nunc eget ornare commodo, massa ex gravida orci, a vulputate nisi velit quis nisl. Vivamus dapibus est nec justo varius dignissim. Curabitur viverra ut nibh sit amet vehicula.</p>
</div>

<div id="games" class="ttc-section-wrap">
  <h1 class="ttc-h1">Games</h1>
  <p>Ut commodo, nisi ut blandit mollis, ipsum justo pretium metus, id consequat magna ipsum cursus nisl. Maecenas eu purus lorem. Proin placerat semper felis et semper. Cras consequat arcu eros, et placerat leo facilisis sit amet. Suspendisse in leo nulla. Fusce a efficitur ipsum. Quisque non tellus nunc.</p>
</div>

<div id="sponsors" class="ttc-section-wrap">
  <h1 class="ttc-h1">Sponsors</h1>
  <h2 class="ttc-h2">Gauntlet Games</h2>
  <iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Gauntlet%20Games%2C%20South%2013th%20Street%2C%20Lincoln%2C%20NE%2C%20United%20States&amp;key=AIzaSyDPnieDPzgsTPPhEtnJvitexdXspzDK8Xk" allowfullscreen="" frameborder="0" height="450" width="600"></iframe>
</div>

<div id="officers" class="ttc-section-wrap">
  <h1 class="ttc-h1">Officers</h1>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="ttc-h2">Douglas Sheese</h2>
      <h3 class="ttc-h3">Tabletop Event Officer</h3>
      <img class="pure-img" src="images/douglassheese.jpg" />
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="ttc-h2">Keith Wade</h2>
      <h3 class="ttc-h3">Computing Event Officer</h3>
      <img class="pure-img" src="images/keithwade.jpg" />
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="ttc-h2">Lexi Dossenko</h2>
      <h3 class="ttc-h3">Communications Officer</h3>
      <img class="pure-img" src="images/lexidossenko.jpg" />
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <h2 class="ttc-h2">Colby Rodeheaver</h2>
      <h3 class="ttc-h3">Resource Officer</h3>
      <img class="pure-img" src="images/colbyrodeheaver.jpg" />
    </div>
</div>
</div>

<div id="contact" class="ttc-section-wrap">
  <h1 class="ttc-h1">Contact</h1>
  <p>Suspendisse orci nulla, efficitur ut lectus et, accumsan pharetra urna. Fusce ut magna nulla. Ut posuere, felis quis faucibus malesuada, leo tellus varius ligula, at elementum erat turpis sodales risus. Donec nec orci ut lacus fringilla posuere. Quisque leo lacus, commodo sed iaculis in, sollicitudin non sem. Mauris bibendum eleifend mi ac porta. In mauris nisl, fermentum vel dui a, mattis volutpat leo. </p>
</div>
