<div id="top" class="header ttc-header">
  <h1>{{title}}</h1>
  <h2>Union College, Lincoln Nebraska</h2>
</div>

<div class="ttc-header">
  <div class="content ttc-center pure-g">
    <div class="icon-div pure-u-1-2 pure-u-md-1-5 ttc-icons">
      <a href="//www.twitter.com/UnionTTC" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a>
    </div>
    <div class="icon-div pure-u-1-2 pure-u-md-1-5 ttc-icons">
      <a href="//www.facebook.com/UnionTTC" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
    </div>
    <div class="icon-div pure-u-1 pure-u-md-1-5 ttc-icons ttc-icons-logo">
      <a align="middle" href="//orgsync.com/119420" target="_blank">
        <img src="/images/Logo01Trans.png" height="128">
      </a>
    </div>
    <div class="icon-div pure-u-1-2 pure-u-md-1-5 ttc-icons">
      <a href="//plus.google.com/u/0/b/107128998391136934091/107128998391136934091/about" target="_blank"><i class="fa fa-google-plus-square fa-5x"></i></a>
    </div>
    <div class="icon-div pure-u-1-2 pure-u-md-1-5 ttc-icons">
      <a href="//www.github.com/UnionTTC" target="_blank"><i class="fa fa-github-square fa-5x"></i></a>
    </div>
  </div>
</div>

<div class="ttc-event">
  <div class="content">
    <h1 id="events" class="content-subhead">Upcoming Events</h1>
    <div class="pure-g">
      <a href="https://www.google.com/calendar/event?eid=NGRkOTk0ZDRoa29lMGhnM29zZ2tuMmlobThfMjAxNTA5MjVUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Game Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>September 24</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
          </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=ZXU0dGUxdDFpb3VnbjBiajhmdnVxcmViajggNXVkNGRiaWExcWw4dHBjcWplZXA5ZmQ3N2tAZwa" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Lincoln Tech Crawl</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>September 29</li>
            <li><i class="fa-li fa fa-clock-o"></i>4:00 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>800 P Street, Lincoln, NE</li>
          </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=djUzanZ1bWhtb3Nxam1mNDEwbzdibDhjNzhfMjAxNTEwMDJUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Code Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>October 1</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
          </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=aW9qM3A1MzE2bXRwbmFrZWFxdDlwdTh2a3NfMjAxNTEwMDdUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Game Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>October 6</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
          </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=NXJhbDV1MXM1dWo3ZW5qMnVjaDgwM2xmY2dfMjAxNTEwMTRUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Code Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>October 13</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
          </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=NGRkOTk0ZDRoa29lMGhnM29zZ2tuMmlobThfMjAxNTEwMjNUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Game Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>October 22</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
          </ul>
        </div>
      </a>
      <!--
      <a href="https://www.google.com/calendar/event?eid=djUzanZ1bWhtb3Nxam1mNDEwbzdibDhjNzhfMjAxNTEwMzBUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-1 pure-u-md-1-2 ttc-event-details">
          <h2 class="content-subhead">Code Night</h2>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-calendar"></i>October 29</li>
            <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
            <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
          </ul>
        </div>
      </a>
    -->
    </div>
  </div>
</div>

<div class="ttc-sponsors">
  <div class="content">
    <h1 id="sponsors" class="content-subhead">Sponsor</h1>
    <h2 class="content-subhead"><a class="ttc-subhead-link" href="//www.gauntlet-games.com/">Gauntlet Games</a></h2>
    <div class="ttc-sponsors-map">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Gauntlet%20Games%2C%20South%2013th%20Street%2C%20Lincoln%2C%20NE%2C%20United%20States&key=AIzaSyDPnieDPzgsTPPhEtnJvitexdXspzDK8Xk" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="ttc-officer">
  <div class="content">
    <h1 id="officer" class="content-subhead">Officers</h1>
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2 ttc-officer-details">
        <h2 class="ttc-officer-heading">Douglas Sheese</h2>
        <h3 class="ttc-officer-heading">Tabletop Event Officer</h3>
        <img src="images/douglassheese.jpg" />
      </div>
      <div class="pure-u-1 pure-u-md-1-2 ttc-officer-details">
        <h2 class="ttc-officer-heading">Keith Wade</h2>
        <h3 class="ttc-officer-heading">Computing Event Officer</h3>
        <img src="images/keithwade.jpg" />
      </div>
      <div class="pure-u-1 pure-u-md-1-2 ttc-officer-details">
        <h2 class="ttc-officer-heading">Lexi Dossenko</h2>
        <h3 class="ttc-officer-heading">Communications Officer</h3>
        <img src="images/lexidossenko.jpg" />
      </div>
      <div class="pure-u-1 pure-u-md-1-2 ttc-officer-details">
        <h2 class="ttc-officer-heading">Colby Rodeheaver</h2>
        <h3 class="ttc-officer-heading">Resource Officer</h3>
        <img src="images/colbyrodeheaver.jpg" />
      </div>
    </div>
  </div>
</div>
