<div id="top" class="header ttc-header">
  <h1>{{title}}</h1>
  <h2>Union College, Lincoln Nebraska</h2>
</div>

<div class="ttc-header">
  <div class="content ttc-center">
    <div class="icon-div pure-u-sm-1 pure-u-md-1-5 ttc-icons ttc-icons-contact">
      <a href="//www.twitter.com/UnionTTC" target="_blank"><i class="fa fa-twitter-square fa-5x"></i></a>
      <a href="//www.facebook.com/UnionTTC" target="_blank"><i class="fa fa-facebook-square fa-5x"></i></a>
    </div>
    <div class="icon-div pure-u-sm-1 pure-u-md-1-5 ttc-icons ttc-icons-contact">
      <a href="//orgsync.com/119420" target="_blank"><img src="/images/Logo01Trans.png" height="128"></a>
    </div>
    <div class="icon-div pure-u-sm-1 pure-u-md-1-5 ttc-icons ttc-icons-contact">
      <a href="//plus.google.com/u/0/b/107128998391136934091/107128998391136934091/about" target="_blank"><i class="fa fa-google-plus-square fa-5x"></i></a>
      <a href="//www.github.com/UnionTTC" target="_blank"><i class="fa fa-github-square fa-5x"></i></a>
    </div>
  </div>
</div>

<div class="ttc-event">
  <div class="content">
    <h1 id="events" class="content-subhead">Upcoming Events</h1>
    <div class="pure-g">
      <a href="https://www.google.com/calendar/event?eid=NGRkOTk0ZDRoa29lMGhnM29zZ2tuMmlobThfMjAxNTA4MjhUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">Game Night</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>August 27</li>
              <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
            </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=djUzanZ1bWhtb3Nxam1mNDEwbzdibDhjNzhfMjAxNTA5MDRUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">Code Night</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>September 3</li>
              <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
            </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=aW9qM3A1MzE2bXRwbmFrZWFxdDlwdTh2a3NfMjAxNTA5MDlUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">Game Night</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>September 8</li>
              <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
            </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=MGJhMzdscG4yMzV1a3QwaXNxamJuODluczQgNXVkNGRiaWExcWw4dHBjcWplZXA5ZmQ3N2tAZw" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">GIS Lecture</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>September 9</li>
              <li><i class="fa-li fa fa-clock-o"></i>6:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
            </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=NXJhbDV1MXM1dWo3ZW5qMnVjaDgwM2xmY2dfMjAxNTA5MTZUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">Code Night</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>September 15</li>
              <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
            </ul>
        </div>
      </a>
      <a href="https://www.google.com/calendar/event?eid=NGRkOTk0ZDRoa29lMGhnM29zZ2tuMmlobThfMjAxNTA5MjVUMDAzMDAwWiA1dWQ0ZGJpYTFxbDh0cGNxamVlcDlmZDc3a0Bn" target="_blank">
        <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
          <h2 class="content-subhead">Game Night</h1>
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-calendar"></i>September 24</li>
              <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
              <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
            </ul>
        </div>
      </a>
      <!--
            <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
                <h2 class="content-subhead">Code Night</h1>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-calendar"></i>October 1</li>
                    <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
                    <li><i class="fa-li fa fa-map-marker"></i>DB 302</li>
                </ul>
            </div>
            <div class="pure-u-md-1-2 pure-u-sm-1 ttc-event-details">
                <h2 class="content-subhead">Game Night</h1>
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-calendar"></i>October 1</li>
                    <li><i class="fa-li fa fa-clock-o"></i>7:30 PM</li>
                    <li><i class="fa-li fa fa-map-marker"></i>DB 307</li>
                </ul>
            </div>
          -->
    </div>
  </div>
</div>

<div class="ttc-sponsors">
  <div class="content">
    <h1 id="sponsors" class="content-subhead">Sponsor</h1>
    <h2 class="content-subhead"><a class="ttc-subhead-link" href="//www.gauntlet-games.com/">Gauntlet Games</a></h2>
    <div class="ttc-sponsors-map">
      <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Gauntlet%20Games%2C%20South%2013th%20Street%2C%20Lincoln%2C%20NE%2C%20United%20States&key=AIzaSyDPnieDPzgsTPPhEtnJvitexdXspzDK8Xk" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="ttc-contact">
  <div class="content">
    <h1 id="contact" class="content-subhead">Contact Us</h1>
    <p class="ttc-contact-font">Got an idea to improve our community? Drop us a line below.</p>
    <form class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label class="pure-u-1-3 ttc-contact-font" for="email">E-mail Address: </label>
          <input name="email" class="pure-input pure-input-1-3" placeholder="e-mail" required="" type="text">
        </div>
        <div class="pure-control-group">
          <label class="pure-u-1-3 ttc-contact-font" for="message">Message: </label>
          <textarea name="message" type="textbox" class="pure-input pure-input-2-3" placeholder="Tell us what you think. Should we be more awesome? Think we are trying too hard?" required=""></textarea>
        </div>
        <div class="pure-control-group">
          <label class="pure-u-1-3 ttc-contact-font"></label>
          <button type="submit" class="pure-button submit" disabled="">Hit Us Up</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<!--
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

$(function () {
  $('[data-toggle="popover"]').popover()
})
-->
