body {
    background-color: #28794C !important;
}

.dp-cur, .chip dt, .te, .te-t, .te-rev-s, .rb-n, .rb-i, .agenda, .event-title{
    white-space:normal !important;
}

.view-cap, .view-container-border {
    background-color: white;
}

.mv-dayname {
    background-color: white;
    color: black;
}

.mv-event-container {
    border-top: 1px solid #4C976D;
    border-bottom: 1px solid #4C976D;
}

.st-bg {
    background-color: white;
}

.st-dtitle {
    background-color: #28794C;
}

.st-bg {
    border-left:none;
}

.st-dtitle {
    border:none;
    background:white;
}

.header {
    display: none;
}

.st-dtitle-today {
    background-color: #D4A36A;
}

.st-bg-today {
    border: 1px solid #D4A36A;
}

.st-dtitle-down {
    border-top: 1px solid #D4A36a;
}
