html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, table, caption, tbody, tfoot, thead, tr, th, td {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  color: white;
}
html {
  background-color: #27556c;
}
header {
  padding-bottom: 2em;
}
header h1 {
  font-weight: 300;
  font-size: 3em;
}
header h2 {
  font-weight: 300;
  font-size: 1.5em;
}
.ttc-section-wrap {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
}
.ttc-h1 {
  font-weight: 300;
  font-size: 1.75em;
}
.ttc-footer-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
